<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/libraries/jquery-ui.min.css" />
    <script src="js/libraries/jquery-3.3.1.min.js"></script>
    <script src="js/libraries/jquery-ui.min.js"></script>
    <script src="js/libraries/angular.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
</head>

<body ng-app="votex">
    <div ng-controller="Dboard" ng-init="init()">
        <h2>Dashboard</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
            <li><a data-toggle="tab" href="#systems">Voting Systems</a></li>
        </ul>
              
        <div class="tab-content">
            <div id="systems" class="tab-pane fade">
                <button data-toggle="modal" data-target="#sysmodal"
                id="createsys">Create System</button>
                <ul>
                    <li ng-repeat="x in sys">
                        {{x}}
                    </li>
                </ul>
            </div>
            <div id="profile" class="tab-pane fade in active">
                <ul style="list-style-type: none;">
                    <li ng-repeat="(key, val) in obj">
                        <span style="font-weight: bold">{{key}}</span>
                        : {{val}}
                    </li>
                </ul>
            </div>
        </div>

        <div id="sysmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create a Voting System</h4>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="return false;" id="sysform">
                            <div id="info">
                                <label for="sysname">Name: </label>
                                <input required type="text" name="sysname" id="sysname" />

                                <label for="sysdes">Description: </label>
                                <textarea maxlength="300" name="sysdes" id="sysdes"></textarea>

                                <label for="syssdate">Start Date: </label>
                                <input value="2018-04-03" type="date" name="syssdate" id="syssdate" />

                                <label for="sysstime">Start Time: </label>
                                <input value="00:00" type="time" name="sysstime" id="sysstime" />

                                <label for="syscdate">Close Date: </label>
                                <input value="2018-04-03" type="date" name="syscdate" id="syscdate" />

                                <label for="sysctime">Close Time: </label>
                                <input value="00:00" type="time" name="sysctime" id="sysctime" />
                            </div>
                            <div style="display: none;" id="cands">
                                <button ng-click="addv();"><h3>+</h3></button>
                                
                                <ol id="ol">
                                    <li>
                                        <input type="text" placeholder="Name of Candidate" name="candi1" id="candi1" />
                                        <textarea placeholder="Description" maxlength="300" name="candt1" id="candt1"></textarea>
                                    </li>
                                </ol>
                            </div>

                            <button id="nex" ng-click="next();">Next &gt;</button>
                            <button id="bac" style="display:none;" ng-click="back();">&lt; Back</button>
                                                        
                            <input id="syssub" style="display:none;" ng-click="createsys();" type="submit" data-dismiss="modal" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
        
            </div>
        </div>


    </div>

    <script src="js/index.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/Dboard.js"></script>
</body>

</html>